In [9]:
import pandas as pd

pd.set_option("display.max_columns", 50)
pd.set_option("display.max_rows", 100)
pd.options.display.float_format = "{:,.2f}".format

In [14]:
data = pd.read_csv("complaints_10-dev-subset.txt", sep="\t", skiprows=1,
                      dtype={1: str},
                      names=["fiscal_year", "charge_num", "state", "num_employees_code",
                             "num_employees", "naics_code", "naics_desc", "type_code",
                             "type", "birth_date", "sex", "date_received", "date_closed",
                             "closure_code", "closure_action", "monetary_benefits", "statute_code",
                             "statute", "basis_code", "basis", "issue_code", "issue",
                             "court_filing_date", "civil_action_num", "court", "resolution_date",
                             "case_type", "litigation_monetary_benefits"])
data.head()

,fiscal_year,charge_num,state,num_employees_code,num_employees,naics_code,naics_desc,type_code,type,birth_date,sex,date_received,date_closed,closure_code,closure_action,monetary_benefits,statute_code,statute,basis_code,basis,issue_code,issue,court_filing_date,civil_action_num,court,resolution_date,case_type,litigation_monetary_benefits
0,"3,288,411.72",MD,B,101 - 200 Employees,"611,110.00",Elementary and Secondary Schools,E,Private Employer,11/13/66,N,03/03/10,nan,03/03/10,M3,No Cause Finding Issued,nan,A,ADEA,OA,Age,T2,Terms/Conditions,nan,nan,nan,nan,nan,nan
1,"3,593,445.5595",AL,U,Unknown Number Of Employees,nan,NaN,E,Private Employer,05/02/79,F,02/03/10,nan,07/30/10,N2,NRTS Issued At CP Request,nan,T,Title VII,OR,Retaliation,D2,Discharge,nan,nan,nan,nan,nan,nan
2,"3,593,445.5595",AL,U,Unknown Number Of Employees,nan,NaN,E,Private Employer,05/02/79,F,02/03/10,nan,07/30/10,N2,NRTS Issued At CP Request,nan,T,Title VII,OR,Retaliation,B3,Benefits-Insurance,nan,nan,nan,nan,nan,nan
3,"3,593,445.5595",AL,U,Unknown Number Of Employees,nan,NaN,E,Private Employer,05/02/79,F,02/03/10,nan,07/30/10,N2,NRTS Issued At CP Request,nan,T,Title VII,GF,Sex-Female,B3,Benefits-Insurance,nan,nan,nan,nan,nan,nan
4,"3,848,821.6365",PA,D,501+ Employees,"611,110.00",Elementary and Secondary Schools,M,Private Elem/Secondary School,09/24/76,F,10/27/09,nan,11/12/09,N2,NRTS Issued At CP Request,nan,T,Title VII,GF,Sex-Female,S4,Sexual Harassment,nan,nan,nan,nan,nan,nan